<h1 class="text-center mb-5 display-5">Events component</h1>
<div class="container bg-light p-5 rounded-3 shadow-lg">
  <div class="row mb-3">
    <div class="col-7">
      <label for="title" class="mb-2">Event Title</label>
      <input
        [(ngModel)]="eventTitle"
        type="text"
        class="form-control"
        id="title"
      />
    </div>
    <div class="col-5">
      <label for="date" class="mb-2">Event Title</label>
      <input
        [(ngModel)]="eventDate"
        type="date"
        class="form-control"
        id="date"
      />
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12 d-grid">
      <button (click)="addEvent()" class="btn btn-success btn-lg">Add</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul class="list-group list-group-flush">
        <li
          *ngFor="let event of events; index as i"
          class="list-group-item d-flex justify-content-between align-items-center shadow-md"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{ event.title }}</div>
            {{ event.date }}
          </div>

          <button (click)="deleteEvent(i)" class="btn btn-danger">
            delete
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
