/*
div {
  padding: 50px;
  text-align: center;
  font-size: 30px;
  background: rgb(231, 77, 77);
  color: white;
}

.container {
  margin: 0 auto;
  width: 600px;
}
*/

#move-to-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
