<!--
<div>
  <h5>{{ title }}</h5>
  <app-new></app-new>
</div>


<div class="container">
  <app-posts></app-posts>
</div>
-->
<!--<app-events></app-events>-->

<div id="move-to-center">
  <app-events></app-events>
</div>
