<div class="posts">
  <app-post
    [name]="posts[0].name"
    [description]="posts[0].description"
    [date]="posts[0].date"
  ></app-post>
  <app-post
    [name]="posts[1].name"
    [description]="posts[1].description"
    [date]="posts[1].date"
  ></app-post>
  <app-post
    [name]="posts[2].name"
    [description]="posts[2].description"
    [date]="posts[2].date"
  ></app-post>
</div>
